@import url("https://fonts.googleapis.com/css2?family=Amatic+SC&display=swap");

body {
  margin: 0;
  padding: 0;
  color: #ffffff;
}
.text-center {
  text-align: center !important;
}

/* HEADER */

.header-wrapper {
  height: 100vh;
  min-height: 34rem;
  background: linear-gradient(68deg, #f35a02, #9b5806, #a5713b, #cb7305);
  background-size: 400% 400%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  animation: backgroundTransition 8s ease-in-out infinite;
  position: relative;
}

h1 {
  text-transform: uppercase;
  letter-spacing: 4px;
}

h2 {
  text-transform: uppercase;
  letter-spacing: 4px;
}
.wpp-fixo {
  z-index: 9999;
  position: fixed;
  bottom: 20px;
  right: 20px;
}
.social-media {
  margin-top: 1rem;
  display: flex;
}

.link_button {
  text-decoration: none;
  background: transparent;
  color: #ffffff;
  font-size: 24px;
  padding: 1rem 4rem;
  border: 1px solid #ffffff;
  min-width: 4rem;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.5s cubic-bezier(0.55, 0.025, 0.675, 0.97);
}

.link_button:hover {
  color: #032400;
  background-color: #ffffff;
}
#challange {
  display: none;
}
.modal-content {
  background: #cb7305;
}
.btn-file {
  position: relative;
  overflow: hidden;
}
.btn-file input[type="file"] {
  position: absolute;
  top: 0;
  right: 0;
  min-width: 100%;
  min-height: 100%;
  text-align: right;
  filter: alpha(opacity=0);
  opacity: 0;
  outline: none;
  background: white;
  cursor: inherit;
  display: block;
}

/* This is the style of our error messages */
.error {
  width: 100%;
  padding: 0;
  font-size: 80%;
  color: white;
  background-color: #900;
  border-radius: 0 0 5px 5px;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.error.active {
  padding: 0.3em;
}

@keyframes backgroundTransition {
  0% {
    background-position: 0% 80%;
  }
  50% {
    background-position: 80% 100%;
  }
  100% {
    background-position: 0% 90%;
  }
}

/* MENU HAMBURGUER */

.checkbox-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.checkbox {
  height: 100px;
  width: 100px;
  position: absolute;
  top: 0;
  right: 25px;
  display: flex;
  justify-content: center;
  cursor: pointer;
  z-index: 1055;
  transition: 400ms ease-in-out 0s;
}

.checkbox .trace {
  width: 50px;
  height: 2px;
  background-color: white;
  position: absolute;
  border-radius: 4px;
  transition: 0.5s ease-in-out;
}

.checkbox .trace:nth-child(1) {
  top: 26px;
  transform: rotate(0);
}

.checkbox .trace:nth-child(2) {
  top: 46px;
  transform: rotate(0);
}

.checkbox .trace:nth-child(3) {
  top: 66px;
  transform: rotate(0);
}

#toggle {
  display: none;
}

/* MENU */

.menu {
  position: absolute;
  top: 28px;
  right: 30px;
  background: transparent;
  height: 40px;
  width: 40px;
  border-radius: 50%;
  box-shadow: 0px 0px 0px 0px white;
  z-index: -1;
  transition: 400ms ease-in-out 0s;
}

.menu-items {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 2;
  opacity: 0;
  visibility: hidden;
  transition: 400ms ease-in-out 0s;
}

.menu-items ul {
  list-style-type: none;
}

.menu-items ul li a {
  margin: 10px 0;
  color: #2e1c2b;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 4px;
  font-size: 40px;
}

/* ANIMAÇÃO DO MENU */

#toggle:checked + .checkbox .trace:nth-child(1) {
  transform: rotate(45deg);
  background-color: #2e1c2b;
  top: 47px;
}

#toggle:checked + .checkbox .trace:nth-child(2) {
  transform: translateX(-100px);
  width: 30px;
  visibility: hidden;
  opacity: 0;
}

#toggle:checked + .checkbox .trace:nth-child(3) {
  transform: rotate(-45deg);
  background-color: #2e1c2b;
  top: 48px;
}

#toggle:checked + .checkbox {
  background-color: white;
}

#toggle:checked ~ .menu {
  box-shadow: 0px 0px 0px 100vmax white;
  z-index: 1;
}

#toggle:checked ~ .menu-items {
  visibility: visible;
  opacity: 1;
}

/* CARDS */

.container {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  margin: 3rem 0;
}

.card-container {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 90%;
}

.card {
  height: 300px;
  width: 400px;
  margin: 3rem 0 0 0;
  background-image: url("../images/room.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  filter: grayscale(0.5);
  color: white;
  cursor: pointer;
  transition: 0.3s;
}

.card-text {
  width: 40%;
  font-family: sans-serif;
  letter-spacing: 1px;
  color: rgb(109, 109, 109);
}

.card-wrapper {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}

.card-wrapper::before {
  content: "";
  position: absolute;
  height: 100px;
  width: 100px;
  display: block;
  border: 1px solid white;
  opacity: 0;
  transition: 0.3s;
}

.card-wrapper h2 {
  font-size: 2rem;
  text-transform: uppercase;
  letter-spacing: 4px;
  margin: 0;
  transition: 0.3s;
}

.card-wrapper p {
  font-size: 0;
  visibility: hidden;
  opacity: 0;
  font-weight: bold;
  text-transform: uppercase;
  transition: 0.3s;
}

.card:hover {
  filter: unset;
}

.card:hover > .card-wrapper::before {
  height: 250px;
  width: 350px;
  opacity: 1;
}

.card:hover > .card-wrapper p {
  opacity: 1;
  visibility: visible;
  font-size: 14px;
}

/* FOOTER */

.footer {
  width: 100%;
  height: 100px;
  background-color: #e65e09;
  display: flex;
  justify-content: center;
  align-items: center;
}
.footer a {
  color: #ffffff;
  text-decoration: none;
}
.social:hover {
  transform: scale(1.1);
}
.social {
  transform: scale(0.8);
  transition: 0.5s;
  color: black;
}
.social-fb:hover {
  background: linear-gradient(24deg, #6600ff 0%, #15a3fa 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.social-ln:hover {
  color: #0a66c2;
}
.social-em:hover {
  color: #ffcc2a;
}
.social-gh:hover {
  color: #fff;
}
.social-in:hover {
  background: linear-gradient(
    to bottom left,
    #6600ff 0%,
    #cc0066,
    #febc00 100%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
@media (max-width: 800px) {
  .social-media {
    display: flex;
    flex-direction: column;
  }

  .container {
    margin-top: 0;
  }

  .card-container {
    flex-direction: column;
  }

  .container .card-container:nth-child(1),
  .container .card-container:nth-child(3) {
    flex-direction: column-reverse;
  }

  .card {
    height: 250px;
    width: 250px;
  }

  .card-text {
    width: 90%;
    margin-top: 2rem;
    text-align: center;
  }

  .card:hover > .card-wrapper::before {
    height: 230px;
    width: 230px;
  }
}
